.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 10%;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 20px 0;
    justify-content: space-between;
}

.card.reverse {
    flex-direction: row-reverse;
}

.profile-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 20px;
    object-fit: cover;
}

@media screen and (max-width: 768px) {
    .main{
        padding: 5px !important;
        text-align: center;
        justify-content: center;
    }

    .card, .card.reverse {
        flex-direction: column;
    }
}

