.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 200px;
}

.card {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 20px 0;
}

.card.reverse {
    flex-direction: row-reverse;
}

.profile-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 20px;
}
